<a href="https://colab.research.google.com/github/rgilyard/predict-student-outcomes/blob/main/OULAD_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook for loading database and creating new dataset

## Constants

In [12]:
DATABASE_PATH = '/content/drive/MyDrive/COMP 542 Group Project/test.db'

## Mount google drive

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Import Libraries

In [14]:
import sqlite3

## Explore Database

In [15]:
conn = sqlite3.connect(DATABASE_PATH)
c = conn.cursor()

In [16]:
# Get list of tables in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()

In [17]:
print(tables)

[('studentAssessment',), ('studentVle',), ('vle',), ('studentInfo',), ('assessments',), ('studentRegistration',), ('courses',)]

In [18]:
# Loop through all tables
for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")

    # Print schema
    c.execute(f"PRAGMA table_info({table_name})")
    schema = c.fetchall()
    print("Schema:")
    for column in schema:
        print(column)

    # Print first 5 rows
    c.execute(f"SELECT * FROM {table_name} LIMIT 5")
    first_five_rows = c.fetchall()
    print("First 5 Rows:")
    for row in first_five_rows:
        print(row)

    print("------")

# Close the connection
conn.close()

Table: studentAssessment
Schema:
(0, 'id_assessment', 'INTEGER', 0, None, 0)
(1, 'id_student', 'INTEGER', 0, None, 0)
(2, 'date_submitted', 'INTEGER', 0, None, 0)
(3, 'is_banked', 'INTEGER', 0, None, 0)
(4, 'score', 'REAL', 0, None, 0)
First 5 Rows:
(1752, 11391, 18, 0, 78.0)
(1752, 28400, 22, 0, 70.0)
(1752, 31604, 17, 0, 72.0)
(1752, 32885, 26, 0, 69.0)
(1752, 38053, 19, 0, 79.0)
------
Table: studentVle
Schema:
(0, 'code_module', 'TEXT', 0, None, 0)
(1, 'code_presentation', 'TEXT', 0, None, 0)
(2, 'id_student', 'INTEGER', 0, None, 0)
(3, 'id_site', 'INTEGER', 0, None, 0)
(4, 'date', 'INTEGER', 0, None, 0)
(5, 'sum_click', 'INTEGER', 0, None, 0)
First 5 Rows:
('AAA', '2013J', 28400, 546652, -10, 4)
('AAA', '2013J', 28400, 546652, -10, 1)
('AAA', '2013J', 28400, 546652, -10, 1)
('AAA', '2013J', 28400, 546614, -10, 11)
('AAA', '2013J', 28400, 546714, -10, 1)
------
Table: vle
Schema:
(0, 'id_site', 'INTEGER', 0, None, 0)
(1, 'code_module', 'TEXT', 0, None, 0)
(2, 'code_presentation', 'TEXT', 0, None, 0)
(3, 'activity_type', 'TEXT', 0, None, 0)
(4, 'week_from', 'REAL', 0, None, 0)
(5, 'week_to', 'REAL', 0, None, 0)
First 5 Rows:
(546943, 'AAA', '2013J', 'resource', None, None)
(546712, 'AAA', '2013J', 'oucontent', None, None)
(546998, 'AAA', '2013J', 'resource', None, None)
(546888, 'AAA', '2013J', 'url', None, None)
(547035, 'AAA', '2013J', 'resource', None, None)
------
Table: studentInfo
Schema:
(0, 'code_module', 'TEXT', 0, None, 0)
(1, 'code_presentation', 'TEXT', 0, None, 0)
(2, 'id_student', 'INTEGER', 0, None, 0)
(3, 'gender', 'TEXT', 0, None, 0)
(4, 'region', 'TEXT', 0, None, 0)
(5, 'highest_education', 'TEXT', 0, None, 0)
(6, 'imd_band', 'TEXT', 0, None, 0)
(7, 'age_band', 'TEXT', 0, None, 0)
(8, 'num_of_prev_attempts', 'INTEGER', 0, None, 0)
(9, 'studied_credits', 'INTEGER', 0, None, 0)
(10, 'disability', 'TEXT', 0, None, 0)
(11, 'final_result', 'TEXT', 0, None, 0)
First 5 Rows:
('AAA', '2013J', 11391, 'M', 'East Anglian Region', 'HE Qualification', '90-100%', '55<=', 0, 240, 'N', 'Pass')
('AAA', '2013J', 28400, 'F', 'Scotland', 'HE Qualification', '20-30%', '35-55', 0, 60, 'N', 'Pass')
('AAA', '2013J', 30268, 'F', 'North Western Region', 'A Level or Equivalent', '30-40%', '35-55', 0, 60, 'Y', 'Withdrawn')
('AAA', '2013J', 31604, 'F', 'South East Region', 'A Level or Equivalent', '50-60%', '35-55', 0, 60, 'N', 'Pass')
('AAA', '2013J', 32885, 'F', 'West Midlands Region', 'Lower Than A Level', '50-60%', '0-35', 0, 60, 'N', 'Pass')
------
Table: assessments
Schema:
(0, 'code_module', 'TEXT', 0, None, 0)
(1, 'code_presentation', 'TEXT', 0, None, 0)
(2, 'id_assessment', 'INTEGER', 0, None, 0)
(3, 'assessment_type', 'TEXT', 0, None, 0)
(4, 'date', 'REAL', 0, None, 0)
(5, 'weight', 'REAL', 0, None, 0)
First 5 Rows:
('AAA', '2013J', 1752, 'TMA', 19.0, 10.0)
('AAA', '2013J', 1753, 'TMA', 54.0, 20.0)
('AAA', '2013J', 1754, 'TMA', 117.0, 20.0)
('AAA', '2013J', 1755, 'TMA', 166.0, 20.0)
('AAA', '2013J', 1756, 'TMA', 215.0, 30.0)
------
Table: studentRegistration
Schema:
(0, 'code_module', 'TEXT', 0, None, 0)
(1, 'code_presentation', 'TEXT', 0, None, 0)
(2, 'id_student', 'INTEGER', 0, None, 0)
(3, 'date_registration', 'REAL', 0, None, 0)
(4, 'date_unregistration', 'REAL', 0, None, 0)
First 5 Rows:
('AAA', '2013J', 11391, -159.0, None)
('AAA', '2013J', 28400, -53.0, None)
('AAA', '2013J', 30268, -92.0, 12.0)
('AAA', '2013J', 31604, -52.0, None)
('AAA', '2013J', 32885, -176.0, None)
------
Table: courses
Schema:
(0, 'code_module', 'TEXT', 0, None, 0)
(1, 'code_presentation', 'TEXT', 0, None, 0)
(2, 'module_presentation_length', 'INTEGER', 0, None, 0)
First 5 Rows:
('AAA', '2013J', 268)
('AAA', '2014J', 269)
('BBB', '2013J', 268)
('BBB', '2014J', 262)
('BBB', '2013B', 240)
------